<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= @user.image %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p><%= @post.content %></p>
      <div class="post-time"><%= Time.now %></div>
      <div class="post-menus">
        <% if @user.id == @current_user.id %>
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= form_tag("/posts/#{@post.id}/destroy") do %>
            <input type="submit" value="削除">
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
